<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jenishbek.armatov.news">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/news_image"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.News">
        <activity android:name=".ui.activitys.NewsDetalActivity"/>
        <activity android:name=".ui.activitys.NewsActivity" />
        <activity
            android:name=".ui.activitys.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.News.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>